.not-found {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.not-found__header {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.not-found__subheader {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.not-found__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  text-decoration: none;
  position: absolute;
  bottom: 60px;
}

.not-found__link:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .not-found__content {
    gap: 10px;
  }

  .not-found__header {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subheader {
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__link {
    bottom: 30px;
  }
}
