.switcher {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.switcher__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}

.switcher__area {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  border-radius: 34px;
}

.switcher__checkbox {
  display: none;
}

.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;;
  transition: .4s;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.switcher__slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #3DDC84;
  transition: .4s;
  border-radius: 50%;
}

.switcher__checkbox:checked + .switcher__slider:before {
  transform: translateX(15px);
}
