.search-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 0 0;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.search-form__input-container {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.search-form__input {
  width: 94%;
  height: 50px;
  background: #2F2F2F;
  border-radius: 8px;
  border: none;
  padding: 16px 0 16px 20px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B;
}

.search-form__input-error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #EE3465;
  text-align: start;
  padding-left: 6px;
}

.search-form__button {
  width: 44px;
  height: 44px;
  background: #4285F4;
  border-radius: 8px;
  border: none;
  padding: 0;
  background-image: url(../../../images/icons/loupe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.search-form__button:hover, .movie-cards__more:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 1023px) {
  .search-container {
    max-width: 708px;
  }

  .search-form__input {
    max-width: 654px;
  }

  .search-form {
    gap: 41px;
  }
}

@media screen and (max-width: 767px) {
  .search-container {
    max-width: 292px;
  }

  .search-form {
    gap: 46px;
  }

  .search-form__input {
    max-width: 238px;
    height: 44px;
    padding: 13px 0 13px 13px;
  }
}
